natsort
numpy
opencv-python
pandas
python-box
scikit-learn
torch>=1.7.1
torchvision

albumentations
pytorchvideo
pytorch-lightning
timm
transformers
hydra-core
h5py>=3.2.0

mediapipe>=0.8.7.3

sphinx
myst-parser
sphinx_rtd_theme
