numpy==1.19.5
albumentations==0.5.2
tqdm==4.59.0
omegaconf==2.1.0
pytorch_lightning==1.4.8
pytorchvideo==0.1.1
hydra_core==1.1.0
torch
mediapipe==0.8.7.3
natsort==7.1.1
h5py==3.3.0
torchvision==0.9.1
opencv_python_headless==4.5.2.52
torchmetrics==0.5.1
timm==0.4.9
transformers==4.9.1
pandas==1.2.4
hydra==2.5
Pillow==8.3.2
scikit_learn==1.0

sphinx
myst-parser
sphinx_rtd_theme
